/* Background de l'article (photo) */
.fonddiffus {
	background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0)); /* Pour Safari 5.1 -> 6.0 */
    background: -o-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0)); /* Pour Opera 11.1 -> 12.0 */
    background: -moz-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0)); /* Pour Firefox 3.6 -> 15 */
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /* Syntaxe standart */
}
#background {
	position: relative;
	background: url("../img/article/lights-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#article {
	position: relative;
	padding-top: 10%;
	padding-left: 12%;
	max-width: 76%;
}

/* Titre de l'article */

#background h1 {
	margin: 0;
	background-color: white;
	color: black;
	font-size: 3.5em;
	font-weight: bold;
	padding: 20px 30px;
} 

/* Auteur : id et photo */

#corpus {
	position: relative;
	margin-top: 7%;
	background-color: white;
	color: black;
}
 
#photo_profil {
	position: absolute;
	max-height: 120px;
	left: 42%;
	top: -50px;
}

#corpus p:first-child {
	margin: 0;
	padding-left: 20%;
	padding-top: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

.grade {
	margin: 0;
	position: absolute;
	top: 10px;
	left: 55%;
	font-weight: bold;
	font-size: 1.5em;
}

#chapeau {
	margin-top: 8%;
	margin-left: 50px; 
	margin-right: 50px;
	font-family: georgia;
	font-style: italic;
	font-size: 1.2em;
	text-align: justify;
}

.pg1:first-letter { /*lettrine relou... ^^ */
	color: #fb9d51;
	font-family: georgia;
	font-size: 4em;
	padding-right: 30px;
	padding-bottom:10px;
}

.pg1 {
	margin-top: 10px;
	margin-left: 50px; 
	margin-right: 50px;
	font-family: georgia;
	text-align: justify;
	font-size: 1.2em;
}

.pg2 {
	margin-top: 10px;
	margin-left: 50px; 
	margin-right: 50px;
	font-family: georgia;
	text-align: justify;
	font-size: 1.2em;
}

#emplacementB {
	position: relative;
	float: left;
	max-width: 35%;
	padding-top: 50px;
	padding-right: 40px;
	padding-bottom: 40px;
}

#emplacementA {
	float: right;
	font-family: Amble;
	font-size: 1.4em;
	max-width: 35%;
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 40px;
	hyphens: auto;
}