html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Amble, "Myriad pro";
	font-weight: lighter;
}


#container {
	box-sizing: content-box;
	position: relative;
	max-height: 100px;
	box-shadow: 0px 2px 2px grey;

}
/* FORMULAIRE */
form {
	width: 100%;
	height: 100px;

}

#connexion {
	display: inline;
	position: relative;
	bottom: 35px;
	left: 30%;
}

#connexion input {
	margin-left: 20px;
	padding: 5px;
	padding-left: 15px;
	border-style: ridge;
	border-width: 2px;
	border-radius: 8px;
}

#holder_bold::-moz-placeholder {
	font-weight: bold;
}

#holder_bold::-webkit-input-placeholder {
	font-weight: bold;
}

#holder_bold::-ms-input-placeholder {
	font-weight: bold;
}

.logo {
	max-height: 90%;
}

.toolbar {
	margin-left: 20px;
 	margin-bottom: -5px;
	max-height: 15%;
	cursor: pointer;
}

/* NAV */

nav ul {
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

nav ul li {
	display: inline-block;
	
}

nav ul li a {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 1.3em;
	transition: background-color 0.5s ease;
  	background-color: white;
	padding: 90px 10px 10px 10px;
	padding-top: 90px;
	margin: 0 10px;
	cursor: pointer;
}

nav a:hover {
	background-color: #fee1c9;
}

nav a:active {
	background-color: #fb9d51;
}

/* */
#en-cours {
	background-color: #fb9d51;
}
/* */